In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
x = np.array([32,45,21,65,87,43,90,21,34,22,56,65,76,87])
y = np.array([2,5,1,5,7,3,0,1,4,2,6,5,6,7])
z = np.array([3,4,2,6,8,4,9,2,3,2,5,6,7,8])
p = np.array([2,54,2,5,8,3,93,21,3,22,5,65,7,87])

In [11]:
np.corrcoef(x, z)

array([[1.       , 0.9967524],
       [0.9967524, 1.       ]])

In [12]:
from scipy.stats import pearsonr

In [13]:
pearsonr(x, y)

PearsonRResult(statistic=np.float64(0.5517117959715818), pvalue=np.float64(0.04082107903037332))

In [22]:
 df = pd.DataFrame({
    'x': x,
    'y': y,
    'z': z,
    'p': p });

In [23]:
df.corr()

          x         y         z         p
x  1.000000  0.551712  0.996752  0.513026
y  0.551712  1.000000  0.482757 -0.005075
z  0.996752  0.482757  1.000000  0.539178
p  0.513026 -0.005075  0.539178  1.000000

In [20]:
sal = pd.read_csv('dataset/Salary_Data.csv')

In [21]:
sal.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [24]:
sal.cov()

                 YearsExperience        Salary
YearsExperience         8.053609  7.610630e+04
Salary              76106.303448  7.515510e+08

In [25]:
mtc = pd.read_csv('dataset/mtcars.csv')

In [28]:
mtc.corrwith(mtc['mpg'])['vs']

np.float64(0.6640389191275927)